header {
  margin: 0;
  height: 100px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header > div {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.larger-text {
  font-size: 3.5rem;
}


@keyframes zombie-waggle {
  0%, 100% {
    transform: rotate(-4deg) scale(1.02);

  }
  50% {
    transform: rotate(-5deg) scale(1);
  }
}

.zombie-font {
  color: red;
  font-family: 'Creepster', cursive;
  animation: zombie-waggle 5s infinite;
  font-size: 4rem;
}

.stacked-text {
  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
  top: -1px;
  line-height: .9;
  font-weight: 100;
  font-size: 1.6rem;
}

.header-font {
  font-family: 'Alfa Slab One', cursive;
}

a:hover {
  text-decoration: none;
}