footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}